@import "partials/_all";
@import "components/_all";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.content-wrapper{
	min-height:46.2em;
	width: 81.4em;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}