body{
	height: 100%;
	width: 100%;
	background: url("../images/logout.jpg") center fixed; /* fallback for old browsers */
	// background: -webkit-linear-gradient(to left, #0095FF , #243B55); /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(to left, #0095FF , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
	
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	display:flex;
	justify-content:center; 
	color: #FFF;  
	padding-top:10em;
	h1{
		font-family: 'Secular One', sans-serif;
		font-size:10em;
	}

	.return-btn{
		padding:1em;
		border:1px solid #fff;
		color: #FFF;
		text-decoration:none;
		
		&:hover{
			background: #243B55;
			-webkit-transition: ease-in-out 0.2s all;
			   -moz-transition: ease-in-out 0.2s all;
			    -ms-transition: ease-in-out 0.2s all;
			     -o-transition: ease-in-out 0.2s all;
			        transition: ease-in-out 0.2s all;
		}

		&:not(:hover){
			-webkit-transition: ease-in-out 0.2s all;
			   -moz-transition: ease-in-out 0.2s all;
			    -ms-transition: ease-in-out 0.2s all;
			     -o-transition: ease-in-out 0.2s all;
			        transition: ease-in-out 0.2s all;
		} 
	}
}